.popup-dropback {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
}

.popup {
  position: fixed;
  width: 270px;
  height: 230px;
  background-color: red;
  left: 50%;
  top: 40%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  z-index: 100;
}

/* .popup img {
  width: 40%;
  margin-left: 50%;
  margin-top: 14%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
} */

.popup-title {
  font-size: 20px;
  margin-top: 13px;
  font-family: "sfprodisplay-bold";
  font-weight: bold;
  margin-top: 27px;
}

.popup-subtitle {
  color: #afafaf;
  font-size: 11px;
  padding-left: 2rem;
  padding-right: 2rem;
}

.ok-button {
  color: #792ea5;
  font-family: "sfprodisplay-medium";
  margin-top: 25px;
  font-size: 25px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .popup {
    width: 350px;
    height: 280px;
    top: 50%;
  }
  .popup-subtitle {
    font-size: 13px;
  }
  .popup-title {
    font-size: 25px;
  }
  .ok-button {
    font-size: 30px;
  }
}

@font-face {
  font-family: "sfprodisplay-medium";
  src: url("../../fonts/SF-Pro-Display-Medium.otf") format("woff");
}

@font-face {
  font-family: "sfprodisplay-bold";
  src: url("../../fonts/SF-Pro-Display-Bold.otf") format("woff");
}
/*# sourceMappingURL=Popup.css.map */
