@import "../../variables";
@media only screen and (max-width: 1024px) {
  .sidenav---sidenav---_2tBP {
    display: none;
  }
}
.sidenav---sidenav---_2tBP {
  position: fixed !important;
  background: $theme_color !important;
}

.divider {
  border-top: 1px solid white;
}

.topLine {
  border-top: 1px solid white;
  color: green !important;
}
.borderLine {
  clear: both;
  position: relative;
  margin: 0.8rem 0;
  background-color: #ddd;
  height: 1px;
}
