@import "../../assets/_variables.scss";
.page-link {
  border: none !important;
}
.pagination .page-link {
  font-family: Helvetica;
  font-size: $theader_table_font_size;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  text-align: left;
  color: #bfbfbf;
}

.active-search-pagination {
  transform: translateZ(10px) !important;
}

.pagination-wrapper {
  position: absolute;
  bottom: 24px;
  right: 0;
  transform: translateY(100%);
  width: inherit;
  padding-top: -10px;
}

.page-link:hover {
  color: #a3a6b4;
  text-decoration: none;
}
.page-item.active-search-pagination .page-link {
  //   z-index: 1 !important;
  color: #333547;
  font-family: Helvetica;
  font-size: $theader_table_font_size;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  text-align: left;
  transform: scale(1.25);
  padding: 0px;
}

.page-item.active-search-pagination .page-link:hover {
  background-color: #e9ecef;
}

@media only screen and (max-width: 768px) {
  .page-item.active-search-pagination .page-link,
  .pagination .page-link {
    font-size: 15px;
  }
}
