@import "../../assets/_variables";
.HeaderPage {
  margin-bottom: 30px;
  .categoryIconSizes {
    width: 30px;
    height: 30px;
    cursor: pointer;
  }

  .searchInput {
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    width: 200px;
    height: 25px;
  }
  .searchInput:active,
  .searchInput:focus,
  .searchInput:focus:active {
    background-image: none;
    outline: 0;
    box-shadow: none;
  }
  .searchButton:active,
  .searchButton:focus,
  .searchButton:focus:active {
    background-image: none;
    outline: 0;
    box-shadow: none;
  }
  .searchButton {
    width: 37px;
    height: 25px;
    border-bottom-left-radius: 0px;
    border-left: 0px;
    border-top-left-radius: 0px;
    padding-top: 0px;
  }
  .titleStyle {
    font-size: $title_header_font_size;
    text-align: $align_left;
  }
  .totalStyle {
    color: $theme_color;
  }

  .searchDiv {
    display: flex;
    position: relative;
  }
}
