.nav-bar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100.9px;
  background-color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid rgba(204, 204, 204, 0.5);
}

.nav-bar ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 4%;
}

.nav-bar ul li {
  padding: 1rem;
  color: black;
  cursor: pointer;
  font-size: 18px;
  font-family: "sfprodisplay-medium";
}

.logo-holder {
  width: 106.3px;
  height: 83.4px;
  margin-left: 4.9%;
  cursor: pointer;
}

.logo {
  width: 100%;
  height: 100%;
}

.spacer {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.nav-items a:hover {
  text-decoration: none;
  color: black;
}

.nav-items a {
  color: black;
}

@media screen and (max-width: 768px) {
  .nav-bar {
    height: 37.3px;
  }
  .nav-bar ul {
    display: none;
  }
  .logo-holder {
    width: 47.5px;
    height: 37.3px;
    margin-left: 42%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@media screen and (max-width: 902px) {
  .nav-bar ul li {
    font-size: 14.5px;
  }
}

@font-face {
  font-family: "sfprodisplay-medium";
  src: url("../../fonts/SF-Pro-Display-Medium.otf") format("woff");
}
/*# sourceMappingURL=Navbar.css.map */