#nav-bar {
  background-color: white;
  border-bottom: 1px solid rgba($color: #ccc, $alpha: 0.5);
}

.logo {
  width: auto;
  height: 60px;
}

.dropbtn {
  background-color: transparent;
  border: none;
}
@media screen and (max-width: 1092px) {
  .CalendarUIBlockerStyle {
    left: 0px;
    top: 320px;
  }
}
