.NavBarr {
  @media screen and (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .dropdown-menu {
      margin-left: -50px;
    }
    .nav-link {
      display: block;
      padding: 0.5rem 1rem;
    }
  }

  @media screen and (max-width: 900px) {
    .navbar-nav .dropdown-menu {
      text-align: center;
    }
  }
  @media screen and (min-width: 1025px) {
    .navbar {
      display: none !important;
    }
  }
}
