@import "../../assets/variables";
.cropImageDiv {
  body {
    margin: 0;
    padding: 0;
  }

  .App {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .addFile {
    margin-left: -95px;
    display: none;
    cursor: pointer;
  }
  .crop-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 80px;
  }
  .imgContainer {
    position: relative;
    flex: 1;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .uploadImage {
    width: 100%;
    height: 200px;
    border: 1px black dashed;
    padding: 20%;
  }
  .Upload_button {
    background-color: white;
    width: 108px;
    height: 29px;
    border: solid 1px #838383;
    border-radius: 24px;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
    color: #000000;
    cursor: pointer;
  }

  .img {
    max-width: 100%;
    height: 200px;
  }
  .controls {
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 0%;
    width: 100%;
    padding: 0 16px;
    height: 80px;
    display: flex;
    align-items: center;
  }
  .cropDelete {
    border: 1px solid $delete_red;
    background-color: $delete_red;
    color: white;
    border-radius: 5px;
    width: 100px;
  }
  .cropEdit {
    border: 1px solid $theme_color;
    background-color: white;
    color: $theme_color;
    border-radius: 5px;
    width: 100px;
    margin-right: 10px;
  }

  .MuiButton-containedPrimary {
    border: 1px solid $theme_color;
    background-color: $theme_color;
    color: white;
    border-radius: 5px;
    width: 150px;
    margin-top: 10px;
  }
  .slider {
    padding: 22px 0px;
  }
  .cropContainer {
    position: relative;
    width: 100%;
    height: 200px;
    background: #333;
    @media screen and (max-width: 576px) {
      height: 400px;
    }
  }
  .cropbutton {
    flex-shrink: 0;
    margin-left: 16px;
  }
  .controls {
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    @media screen and (max-width: 576px) {
      flex-direction: row;
      align-items: center;
    }
  }
  .slidercontainer {
    display: flex;
    flex: 1;
    align-items: center;
  }
  .sliderlabel {
    @media screen and (min-width: 576px) {
      min-width: 65px;
    }
  }
  .slider {
    padding: 22px 0px;
    margin-left: 16px;
    @media screen and (max-width: 576px) {
      flex-direction: row;
      align-items: center;
      margin: 0 16px;
    }
  }
}
