@import "../../assets/variables";
.sideBar {
  * {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    text-align: $align_left;
  }
}
#sidebar {
  position: fixed;
  width: 300px;
  height: 100%;
  background: #151719;
  left: -300px;
  transition: all 500ms linear;
}
#sidebar.active {
  left: 0px;
}

#sidebar ul li {
  color: rgba(230, 230, 230, 0.9);
  list-style: none;
  padding: 15px 10px;
  border-bottom: 1px solid rgba(100, 100, 100, 0.3);
}

#sidebar .toggle-btn {
  position: absolute;
  left: 330px;
  top: 20px;
}
#sidebar .toggle-btn span {
  display: block;
  width: 30px;
  height: 5px;
  background: #151719;
  margin: 5px 0px;
}
