@import "../../assets/variables";
.upload-box {
  .addFile {
    margin-left: -95px;
    display: none;
    cursor: pointer;
  }

  .document {
    height: 200px;
    // border: 1px dotted $popup_line_gray;
    display: flex;
    justify-content: space-evenly;
    border-radius: 5px;
    .button-doc {
      width: 100px;
      height: 25px;
      background-color: $delete_color;
      border: 1px solid $delete_color;
      color: white;
      border-radius: 5px;
      margin: auto;
      cursor: pointer;
    }
    .image-big {
      // width: 100px;
      // height: 100px;
    }
  }

  .img-div {
    // max-height: 100px;
    width: 100%;
    // overflow: auto;
    .img-size {
      width: 75px;
      height: 75px;
      margin: 10px;
    }
    .button-div-plus {
      border: 1px dotted $popup_line_gray;
      width: 75px;
      height: 75px;
      margin: 10px;
    }
  }
}
// .save-div {
//   display: flex;
//   justify-content: flex-end;
//   .saveBtn {
//     width: 75px;
//     color: white;
//     background-color: $delete_color;
//     border: 1px solid $delete_color;
//     height: 35px;
//     // margin-left: 3px;
//     border-radius: 2px;
//   }
//   .saveBtnDisabled {
//     width: 75px;
//     color: white;
//     background-color: $table_header_color;
//     border: 1px solid $table_header_color;
//     height: 35px;
//     // margin-left: 3px;
//     border-radius: 2px;
//   }
// }
