@import "../../assets/_variables";
.signin {
  height: 100vh;
  // background-image: url("../../assets/images/background1.png");
  background-size: cover;
  .loginBox {
    width: 600px;
    border-radius: 35px;
    // height: 400px !important;
    margin-top: 150px;
  }
  .signinTitle {
    font-size: 20px;
    color: black;
  }
  .signinSub {
    font-size: 16px;
    color: black;
  }
  .inputValues {
    margin-top: 30px;
  }
  .btnSignin {
    background-color: $sign_in_red !important;
    color: $white_color;
    border-color: $sign_in_red !important;
    width: 100%;
    margin-top: 20px;
  }
}
@media screen and (max-width: 768px) {
  .loginBox {
    width: 400px !important;
  }
}
