$align_right: right;
$align_left: left;
$input_textSize: 16px;
$theme_color: #3b0b01;
$menu_selected_hover: white;
$table_header_color: #919191;
$background_white_color: white;
$popup_title_font_size_normal: 20px;
$popup_title_font_size_medium: 25px;
$popup_title_font_size_small: 15px;
$sign_in_red: #8d172b;
$all_gray: #919191;
$checkbox_green: #12b923;
$popup_line_gray: #e4e4e4;
$white_color: white;
$title_header_font_size: 20px;
$theader_table_font_size: 14px;
$tbody_table_font_size: 12px;
$delete_color: #881816;
$popup_line_gray: #e4e4e4;
$delete_red: #881816;
