@import "./variables";

.box {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  width: 90%;
  color: gray;
  margin-top: 40px;
  display: inline-block;
  padding: 30px;
  max-width: 1000px;
  background-color: $background_white_color;
  min-height: 600px;
}
.categoryIconSizes {
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.loginBox {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  width: 90%;
  color: gray;
  margin-top: 40px;
  display: inline-block;
  padding: 30px;
  max-width: 1000px;
  background-color: $background_white_color;
  // min-height: 600px;
}
.required:after {
  content: "*";
  color: red;
  margin-left: 2px;
}

.btnSubmit {
  background-color: $theme_color !important;
  color: $white_color;
  border-color: $theme_color !important;
  width: 100%;
}
.btnSubmitDisabled {
  background-color: $all_gray !important;
  color: $white_color;
  border-color: $all_gray !important;
  width: 100%;
}

.NavHeader {
  white-space: nowrap;
  background-color: $theme_color;
  color: #fff;
  > * {
    color: inherit;
    background-color: inherit;
  }
}
.NavTitle {
  font-size: 12px;
  line-height: 20px;
  padding: 10px 0;
}

.NavSubTitle {
  font-size: 1em;
  line-height: 20px;
  padding-bottom: 4px;
}

.BottomLogoMenu {
  height: calc(100vh - 240px);
}
.logoImage {
  margin-top: calc(100vh - 550px);
}

.alignment {
  text-align: $align_left;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
.smallText {
  font-size: $input_textSize;
  color: black !important;
  text-align: $align_left;
}
.sidenav---highlighted---oUx9u {
  background: $menu_selected_hover !important;
  .sidenav---navtext---1AE_f {
    color: $theme_color !important;
  }
}
.open-SideBar {
  margin-left: 250px;
}
.closed-SideBar {
  margin-left: 75px;
}
@media screen and (max-height: 560px) {
  .logoImage {
    margin-top: 0px;
  }
}
.checkboxDiv {
  float: $align_left;
}
