.uiBlocker {
  width: calc(100% - 240px);
  height: 99.5vh;
  left: 240px;
  position: absolute;
  z-index: 100000;
  top: 0;
  background-color: transparent;
  opacity: 0.2;
}

@media screen and (max-width: 992px) {
  .uiBlocker {
    display: none;
  }
}
