.loader_whole_page {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 5%;
  top: 0%;
  background-color: black;
  opacity: 0;
  z-index: 100000;
}
.spinner_whole_page {
  position: fixed;
  z-index: 200000;
  top: 50%;
  left: 50%;
  opacity: 1;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 1092px) {
  .loader_whole_page {
    left: 0%;
  }
}
