.CalendarUIBlockerStyle {
  width: calc(100% - 64px);
  height: 100%;
  left: 64px;
  position: absolute;
  z-index: 100000;
  top: 0;
  background-color: gray;
  opacity: 0.2;
}

@media screen and (max-width: 992px) {
  .CalendarUIBlockerStyle {
    top: 60px !important;
    width: 100%;
  }
  .open {
    width: 100%;
    top: 340px !important;
  }
}
@media screen and (min-width: 1024px) {
  .open {
    width: calc(100% - 240px);
    left: 240px;
  }
}
