@import "../../assets/_variables";
.tableDiv {
  .table {
    overflow: auto;
  }

  .theadTable {
  }
  .trTable {
  }
  .thTable {
    color: $table_header_color;
    font-size: $theader_table_font_size;
    font-weight: unset;
  }
  .tbodyTable {
    .trTbody {
    }
    .tdTbody {
      font-size: $tbody_table_font_size;
    }
  }
}

.tableDiv {
  overflow: auto;
}
